<script type="text/javascript">
    $(function() {
        var dt = $("#calendar").datepicker({
            autoclose: true,
            buttonImageOnly: true,
            getUTCDates: true,
            format: "yyyy-mm-dd"
        }).data('datepicker');
        $("body").on("click", "input.calendar", function() {
            dt.element = $(this);
            dt.show();
        })

        $('#submit_button').click(function(e){
            e.preventDefault();
            var valuesToSubmit = $('form').serialize();
            $.ajax({
                url: $('form').attr('action') + '.json',
                data: valuesToSubmit,
                dataType: 'json',
                type: 'post',
                success: function(data){
                    console.log(data);
                    if (data.location) {
                        window.location.href = data.location;
                    }
                },
                error: function(){
                    console.log("error");
                }
            });
            return false;
        });


            var i=1;

            $("body").on("click", "a.add_row", function(){
                var template = "<%=j render 'forjs' %>";
                var test = template.replace(/addrowuserid/g, $(this).attr("data-userid"));
                $(test).insertAfter($(this).closest('tr'));
            });
            $("body").on("click", "a.delete_row", function(){
                var tr = $(this).closest('tr');
                tr.add(tr.prev()).remove();
            });


    });
</script>

<%= content_for :form do%>
    <li><%= button_tag "Save report", id: 'submit_button', remote: true %></li>
<% end %>

<input type="text" id="calendar" style="display: none" />



<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="hidden field">
    <%= f.label :generated_at %><br>
    <%= f.datetime_select :generated_at %>
  </div>

  <ul class='nav nav-tabs'>
    <li><a href='#'>Management</a></li>
    <li><a href='#'>Short report</a></li>
    <li class='active'><a href='#'>Detailed report</a></li>
  </ul>

  <table class='report table table-bordered'>
    <tr>
      <th>Project</th>
      <th>Task ID</th>
      <th>Task Desc</th>
      <th>Task Completion Date (per MS Project)</th>
      <th>Start date</th>
      <th>End date</th>
      <th>%</th>
      <th>ETA for completion</th>
      <th>Status</th>
    </tr>

    <% @report_entries.each do |user, rentry_array| %>

        <tr>
          <td colspan='12' class='active'><strong><%= link_to user.full_name, user, name: user.jira_name %></td>
        </tr>

        <% rentry_array.each do |rentry| %>

        <tr>
          <%= hidden_field_tag "report[report_entries_attributes][][user_id]", rentry.user_id %>
          <%= hidden_field_tag "report[report_entries_attributes][][id]", rentry.id %>
          <td class="editable project"><p class='project'><%= text_area_tag "report[report_entries_attributes][][project]", rentry.project, rows: 4, class: 'form-control project pro', spellcheck:false %></p></td>
          <td class="editable task_id"><p class='task_id'><%= text_area_tag "report[report_entries_attributes][][task_id]", rentry.task_id, rows: 4, class: 'form-control project task_id', spellcheck:false %></p></td>
          <td class="editable"><p class='task_desc'><%= text_area_tag "report[report_entries_attributes][][task_desc]", rentry.task_desc,rows: 4, class: 'form-control project', spellcheck:false %></p></td>
          <td class="editable date"><p class='task_completion_per_ms_project'><%= text_field_tag "report[report_entries_attributes][][msproject_task_completion_date]", rentry.msproject_task_completion_date.try(:to_date), class: 'form-control project calendar', spellcheck:false %></p></td>
          <td class="editable date"><p class='start_date'><%= text_field_tag "report[report_entries_attributes][][started_at]", rentry.started_at.try(:to_date), class: 'form-control project calendar', spellcheck:false %></p></td>
          <td class="editable date"><p class='end_date'><%= text_field_tag "report[report_entries_attributes][][ended_at]", rentry.ended_at.try(:to_date), class: 'form-control project calendar', spellcheck:false %></p></td>
          <td class="editable percentage"><p class='percentage'><%= text_area_tag "report[report_entries_attributes][][percentage]", rentry.percentage, rows: 4, class: 'form-control project', spellcheck:false %></p></td>
          <td class="editable date"><p class='eta'><%= text_field_tag "report[report_entries_attributes][][eta]", rentry.eta.try(:to_date), class: 'form-control project calendar', spellcheck:false %></p></td>
          <td class="editable status"><p class='status'><%= text_area_tag "report[report_entries_attributes][][status]", rentry.status, rows: 4, class: 'form-control project status', spellcheck:false %></p></td>
        </tr>
            <tr>
              <td colspan='2'><a class="btn btn-default pull-left add_row" data-userid="<%= rentry.user_id %>">Add Row</a><a class="pull-right btn btn-default delete_row">Delete Row</a></td>
              <td colspan='1' class='editable'>
                <%= text_area_tag "report[report_entries_attributes][][issues]", rentry.issues, rows: 3, placeholder: "Issues", class: 'form-control project', spellcheck:false %>
              </td>
              <td colspan='6' class='editable'>
                <%= text_area_tag "report[report_entries_attributes][][risk_mitigation_plans]", rentry.risk_mitigation_plans, rows: 3, placeholder: "Risk migration plans", class: 'form-control project', spellcheck:false %>
              </td>
        </tr>
        <% end %>
    <% end %>
  </table>
<% end %>
