<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :generated_at %><br>
    <%= f.datetime_select :generated_at %>
  </div>

  <ul class='nav nav-tabs'>
    <li><a href='#'>Management</a></li>
    <li><a href='#'>Short report</a></li>
    <li class='active'><a href='#'>Detailed report</a></li>
  </ul>

  <table class='report table table-bordered'>
    <tr>
      <th>Project</th>
      <th>Task ID</th>
      <th>Task Desc</th>
      <th>Task Completion Date (per MS Project)</th>
      <th>Start date</th>
      <th>End date</th>
      <th>%</th>
      <th>ETA for completion</th>
      <th>Status</th>
    </tr>
    <% @issues.each do |m| %>
        <tr>
          <td colspan='11' class='active'><strong><%=  link_to m[0], '#' , name: m[0]%></td>
        </tr>
        <% m[1].each do |i|%>

        <tr>
          <td><p class='project'>NETMRI</p></td>
          <td><p class='task_id'></p><%= i.key %></td>
          <td><p class='task_desc'><%= i.summary %></p></td>
          <td><p class='task_completion_per_ms_project'>12/28/2014</p></td>
          <td><p class='start_date'><%= i.started_at %></p></td>
          <td><p class='end_date'><%= i.ended_at %></p></td>
          <td><p class='percentage'>100</p></td>
          <td><p class='est'>15/01/2015</p></td>
          <td><p class='status'><%= i.status %></p></td>
        </tr>
        <tr>
          <td colspan='2'></td>
          <td colspan='2' class='editable'>
            <%= text_area i.assignee, :issues, rows: 3, class: 'form-control issues', spellcheck: false,
                          value: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.' %>
          </td>
          <td colspan='5' class='editable'>
            <%= text_area i.assignee, :risks_mitigation_plans, rows: 3, class: 'form-control risks_mitigation_plans', spellcheck: false,
                          value: 'Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea c' %>
          </td>
        </tr>
<% end %>
    <% end %>
  </table>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>