<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :generated_at %><br>
    <%= f.datetime_select :generated_at %>
  </div>

  <ul class='nav nav-tabs'>
    <li><a href='#'>Management</a></li>
    <li><a href='#'>Short report</a></li>
    <li class='active'><a href='#'>Detailed report</a></li>
  </ul>

  <table class='report table table-bordered'>
    <tr>
      <th>Project</th>
      <th>Task ID</th>
      <th>Task Desc</th>
      <th>Task Completion Date (per MS Project)</th>
      <th>Start date</th>
      <th>End date</th>
      <th>%</th>
      <th>ETA for completion</th>
      <th>Status</th>
    </tr>

    <% report_entry_index = 0
       @report_entries.each do |user, rentry_array| %>

        <tr>
          <td colspan='11' class='active'><strong><%= link_to user.full_name, user, name: user.jira_name %></td>
        </tr>

        <% rentry_array.each do |rentry| %>

        <tr>
          <%= hidden_field_tag "report[report_entry_attributes][#{report_entry_index}][user_id]", rentry.user_id %>
          <td class="editable"><p class='project'><%= text_area_tag "report[report_entry_attributes][#{report_entry_index}][project]", rentry.project, class: 'form-control project', spellcheck:false %></p></td>

        </tr>
        <% report_entry_index += 1
           end %>
    <% end %>
  </table>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>